@{
  Layout = "_Layout";
}
<h1>Add Car</h1>
<form action="/add-car" method="post">
  <label for="make">make</label>
  <input type="text" name="make" id="make">

  <label for="model">model</label>
  <input type="text" name="model" id="model">

  <label for="description">description</label>
  <input type="text" name="description" id="description">

  <label for="year">year</label>
  <input type="text" name="year" id="year">

  <label for="price">price</label>
  <input type="text" name="price" id="price">

  <button type="submit">Go</button>
</form>